	<!-- begin demomenu -->
	<section class="demomenu">
		<h3>Uikit</h3>
		<ul>
			<li><a href="uikit.html">Uikit</a></li>
			<li><a href="img/svg/sprite.symbol.html">SVG</a></li>
		</ul>
		<h3>Страницы</h3>
		<ul class="demomenu__menu">
			<li><a href="index.html">Главная</a></li>
			<li><a href="company.html">О компании</a></li>
			<li><a href="portfolio.html">Портфолио</a></li>
			<li><a href="team.html">Команда</a></li>
			<li><a href="vacancies.html">Вакансии</a></li>
		</ul>
	</section>
	<!-- end demomenu -->