		</div>		
	</div>
	@@include('./partials/footer.html')

	@@include('./partials/modal.html')

	<!-- ============================================================= -->
	<script type="text/javascript" src="js/build.min.js"></script>
</body>
</html>