@@include('./blocks/header.html')

<!-- block start -->
<div class="block">
    <div class="row grid">
        <div class="col-7_md-12">
            <svg class="svg svg--wave">
                <use xlink:href="#wave"></use>
            </svg>
            <h1 class="h1">Крафт - это</h1>
            <div class="title title--small">Маркетинг, брендинг, дизайн, архитектура. Основано в 2011 году</div>
            <p>Мы живем и работаем в Тюмени. Основные направления деятельности – разработка, запуск и поддержка брендов, а это значит -
            маркетинг полного цикла, стратегия, коммуникации, диджитал, фирменный стиль, продвижение, дизайн, в том числе – дизайн среды,
            системы навигации, арт-объекты, архитектура, а ещё - создание сайтов и необычных сувениров.</p>
        </div>
        <div class="col-5_md-12">
            <img src="img/company.png" alt="">
        </div>
    </div>
</div>
<!-- block end -->

<!-- block start -->
<div class="block">
    <div class="row grid">
        <div class="col-3-first_md-12-last">
            <img src="img/company-small.png" alt="">
        </div>
        <div class="col-6-last_md-12-first" data-push-left="off-1_md-0">
            <svg class="svg svg--wave-comp1">
                <use xlink:href="#wave"></use>
            </svg>
            <p>Мы ищем самые эффективные решения, яркие, современные и понятные. Мы профессионалы, и мы знаем, в каком направлении двигаться
            для того, чтобы оставаться в числе лидеров, и выводить вперед наших партнеров, клиентов и друзей. </p>
            <p>В CRAFT group работают 6 дизайнеров, 2 архитектора, интернет-маркетологи, smm-специалисты, копирайтеры, аналитики. В нашем
            портфолио более 700 проектов. <a href="#">Присоединяйтесь!</a></p>
        </div>
    </div>
    <div class="row grid-3_md-1-right">
        <div class="col">
            <svg class="svg svg--wave-comp2">
                <use xlink:href="#wave"></use>
            </svg>
        </div>
    </div>
</div>
<!-- block end -->

@@include('./blocks/footer.html')