@@include('./blocks/header.html')

<!-- block start -->
<div class="block">
    <div class="row grid">
        <div class="col-12">
            <svg class="svg svg--wave">
                <use xlink:href="#wave"></use>
            </svg>
        </div>
        <div class="col-4_md-12">
            <h1 class="color-secondary">Наши работы</h1>
        </div>
        <div class="col-5_md-12" data-push-left="off-1_md-0">
            <p>
                Дизайн — понятие почти что безграничное, у нас – только крутой и оригинальный. А ещё комфортный, уникальный и функциональный.
                Одним словом, мы создаём не просто – дизайн, мы создаём характер любого продукта, помещения или среды – всё зависит от того,
                чего вы хотите. Дизайн полиграфии, айдентика, фирменный стиль, создание уникальных визуальных концепций, профессиональная
                работа с текстом на любом языке. Сотрудничаем с лучшими фотографами, иллюстраторами, визуализаторами и техническими дизайнерами
            </p>
        </div>
        <div class="col-4_md-12-bottom">
            <div class="title no-bottom">
                <img src="img/arrow-down.png" alt="Стрелка" height="25px">                
                Последние проекты
            </div>
        </div>
        <div class="col-7_md-12" data-push-left="off-1_md-0">
            <img alt="Наши работы" src="img/portfolio.png" alt="">
        </div>
    </div>
</div>
<!-- block end -->

<!-- block start -->
<div class="block">
    <div class="row">
        <div class="grid-3_md-1-noGutter-equalHeight cards cards--projects">
            <a href="img/transport.jpg" class="col cards__item" data-lightbox="image-1"> 
                <div class="cards__inner">
                    <div class="cards__img" style="background-image: url(img/transport.jpg)"></div>
                    <div class="cards__body">
                        <div class="cards__desc">Брендинг</div>
                        <div class="cards__title">Тюменский транспорт</div>
                    </div>
                </div>
                <div class="hidden"></div>
            </a>
            <a href="img/avia.jpg" class="col cards__item" data-lightbox="image-2">
                <div class="cards__inner">
                    <div class="cards__img" style="background-image: url(img/avia.jpg)"></div>
                    <div class="cards__body">
                        <div class="cards__desc">Брендинг</div>
                        <div class="cards__title">Авиаэкспресс</div>
                    </div>
                </div>
                <div class="hidden"></div>
            </a>
            <a href="img/eco.jpg" class="col cards__item" data-lightbox="image-3">
                <div class="cards__inner">
                    <div class="cards__img" style="background-image: url(img/eco.jpg)"></div>
                    <div class="cards__body">
                        <div class="cards__desc">Брендинг</div>
                        <div class="cards__title">Экопарк "Затюменский"</div>
                    </div>
                </div>
                <div class="hidden"></div>
            </a>
            <a href="img/capital.jpg" class="col cards__item" data-lightbox="image-4">
                <div class="cards__inner">
                    <div class="cards__img" style="background-image: url(img/capital.jpg)"></div>
                    <div class="cards__body">
                        <div class="cards__desc">Брендинг</div>
                        <div class="cards__title">Столица деревень</div>
                    </div>
                </div>
                <div class="hidden"></div>
            </a>
            <a href="img/suenko.jpg" class="col cards__item" data-lightbox="image-5">
                <div class="cards__inner">
                    <div class="cards__img" style="background-image: url(img/suenko.jpg)"></div>
                    <div class="cards__body">
                        <div class="cards__desc">Архитектура</div>
                        <div class="cards__title">СУЭНКО</div>
                    </div>
                </div>
                <div class="hidden"></div>
            </a>
            <a href="img/tgu.jpg" class="col cards__item" data-lightbox="image-6">
                <div class="cards__inner">
                    <div class="cards__img" style="background-image: url(img/tgu.jpg)"></div>
                    <div class="cards__body">
                        <div class="cards__desc">Дизайн</div>
                        <div class="cards__title">Столовая №10 ТюмГУ</div>
                    </div>
                </div>
                <div class="hidden"></div>
            </a>
        </div>
    </div>
</div>
<!-- block end -->

@@include('./blocks/footer.html')