@@include('./blocks/header.html')

<!-- promo start -->
<div class="promo promo--show promo--blur">
    <div class="promo__img" style="background-image: url(img/team.png)"></div>
    <div class="promo__inner">
        <div class="row flex">
            <div class="grid grid-2_md-1">
                <div class="col">
                    <div class="promo__title color-primary">Команда</div>
                    <p class="color-white">В CRAFT group работают дизайнеры, архитекторы, интернет-маркетологи, smm-специалисты, копирайтеры, аналитики. Мы сотрудничаем с экспертами из разных городов России, работаем с профессионалами из других стран. Один из наших
                    дизайнеров обосновался в Канаде, интернет-маркетолог живет в Крыму, специалист по маркетингу соцсетей работает в
                    Москве. Мы беремся за любые задачи, потому что с таким мощным человеческим ресурсом можем все. Да, и оборудование у нас
                    тоже первоклассное. В портфолио CRAFT group более 700 проектов. Присоединяйтесь!</p>
                    <div class="title">
                        <img src="img/arrow-down.png" alt="Стрелка" height="25px">
                        Знакомьтесь!
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="promo__footer"></div>
</div>
<!-- promo end -->

<!-- team start -->
<div class="block">
    <div class="row grid-4_md-1 cards cards--team">
        <a href="" class="col cards__item js-modal-open" data-target="#modal-team">
            <div class="cards__inner">
                <div class="cards__top">
                    <div class="cards__img" style="background-image: url(img/team1.jpg)"></div>
                    <div class="cards__body">
                        <div class="cards__title">Юлия Гришанова</div>
                    </div>
                </div>
                <div class="cards__bottom">
                    <div class="cards__desc">Генеральный директор</div>
                    <p>Специалист в области стратегического брендинга, выпускница High School of Branding (Высшая школа брендинга, Москва),
                    магистр Института бизнеса и дизайна, член ассоциации брендинговых компаний России. Большой практический опыт в создании
                    бренд-стратегий, в творческой экспертизе, архитектура, маркетинге и дизайне.</p>
                </div>
            </div>
        </a>
        <a href="#" class="col cards__item js-modal-open" data-target="#modal-team">
            <div class="cards__inner">
                <div class="cards__top">
                    <div class="cards__img" style="background-image: url(img/team2.jpg)"></div>
                    <div class="cards__body">
                        <div class="cards__title">Анна Русакова</div>
                    </div>
                </div>
                <div class="cards__bottom">
                    <div class="cards__desc">Директор по развитию</div>
                    <p>Профессиональный маркетолог, журналист. Выпускница ТюмГУ, лауреат Международной премии Попова, премии губернатора
                    Тюменской области «Серебряный микрофон». Успешные кампании регионального и городского уровня в различных отраслях, в
                    том числе в автомобильном бизнесе, печатных СМИ, торговле, ресторанном бизнесе, медицинском маркетинге, промышленном
                    производстве, развлечениях и так далее.</p>
                </div>
            </div>
        </a>
        <a href="#" class="col cards__item js-modal-open" data-target="#modal-team">
            <div class="cards__inner">
                <div class="cards__top">
                    <div class="cards__img" style="background-image: url(img/team3.jpg)"></div>
                    <div class="cards__body">
                        <div class="cards__title">Антон Франк</div>
                    </div>
                </div>
                <div class="cards__bottom">
                    <div class="cards__desc">Арт-директор, дизайн-директор</div>
                    <p>Профессиональный дизайнер, творческий руководитель проектов компании, яркий, талантливый, креативный. Широкий рабочий
                    диапазон: от идеи и копирайтинга, до общих формальных решений, и полного воплощения проекта под ключ. Большой опыт в
                    рекламе и брендинге с реальным опытом создания работающих продуктов.</p>
                </div>
            </div>
        </a>
        <a href="#" class="col cards__item js-modal-open" data-target="#modal-team">
            <div class="cards__inner">
                <div class="cards__top">
                    <div class="cards__img" style="background-image: url(img/team4.jpg)"></div>
                    <div class="cards__body">
                        <div class="cards__title">Анжелика Симонова</div>
                    </div>
                </div>
                <div class="cards__bottom">
                    <div class="cards__desc">Младший архитектор</div>
                    <p>Бакалавр архитектуры Тюменского индустриального университета, продолжает обучение в магистратуре, дополнительно изучает
                    английский язык в ТюмГУ. В течение нескольких лет занимается оценочной деятельностью, работая с недвижимостью, машинами
                    и оборудованием. Отличный специалист по 3D моделированию в 3ds max, которые изучала в Санкт-Петербургской школе
                    телевидения, работает с ландшафтным дизайном.</p>
                </div>
            </div>
        </a>
        <a href="#" class="col cards__item js-modal-open" data-target="#modal-team">
            <div class="cards__inner">
                <div class="cards__top">
                    <div class="cards__img" style="background-image: url(img/team5.jpg)"></div>
                    <div class="cards__body">
                        <div class="cards__title">Анна Рубова</div>
                    </div>
                </div>
                <div class="cards__bottom">
                    <div class="cards__desc">Архитектор</div>
                    <p>Выпускница института архитектуры и дизайна ТюмГАСУ. Помимо архитектуры, занимается живописью, пишет маслом, любит
                    эксперименты. Задачи Анны - концептуальное архитектурное проектирование городских пространств, реновация, ведение
                    проектов, формирование неординарных идей и их воплощение, дизайн общественных пространств, и, конечно, авторский
                    надзор.</p>
                </div>
            </div>
        </a>
        <a href="#" class="col cards__item js-modal-open" data-target="#modal-team">
            <div class="cards__inner">
                <div class="cards__top">
                    <div class="cards__img" style="background-image: url(img/team6.jpg)"></div>
                    <div class="cards__body">
                        <div class="cards__title">Юлия Вологина</div>
                    </div>
                </div>
                <div class="cards__bottom">
                    <div class="cards__desc">Управление офисом</div>
                    <p>Окончила Тюменскую архитектурно-строительную академию по специальности «Менеджер организации». Прайсы, коммерческие
                    предложения, работа с «Крафтом» и в «Крафте», портфолио, подробная информация о проектах – любые вопросы, связанные с
                    нашими (и вашими) возможностями задавайте Юлии.</p>
                </div>
            </div>
        </a>
        <a href="#" class="col cards__item js-modal-open" data-target="#modal-team">
            <div class="cards__inner">
                <div class="cards__top">
                    <div class="cards__img" style="background-image: url(img/team7.jpg)"></div>
                    <div class="cards__body">
                        <div class="cards__title">Дарья Палец</div>
                    </div>
                </div>
                <div class="cards__bottom">
                    <div class="cards__desc">Дизайнер</div>
                    <p>Специальность «Графический дизайн» получила в Курганском государственном университете. Хороший художественный вкус и
                    воображение, любит работать с Fashion проектами, в свободное время занимается гимнастикой. Отлично разбирается в
                    графике, работает с концептуальными проектами полного цикла – от философии до воплощения.</p>
                </div>
            </div>
        </a>
    </div>
</div>
<!-- team end -->

@@include('./blocks/footer.html')