@@include('./blocks/header.html')

<div class="wrapper">
    <div class="block">
        <div class="row">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta sapiente sint alias esse. Commodi natus repellat explicabo maxime blanditiis delectus dolor debitis. Molestiae voluptatibus quia excepturi tempora! Voluptas repellat distinctio sapiente aperiam officia explicabo atque, quia at nihil earum dolorem possimus deleniti. Id quam repellat illum temporibus aliquid doloribus facere porro eaque totam. Corporis voluptas amet optio neque natus placeat ullam quae nesciunt voluptatibus animi maiores rem numquam, modi aut harum temporibus dignissimos. Incidunt quas expedita veritatis aperiam nisi odit, enim possimus, nihil pariatur odio tempora impedit corrupti voluptatem minus commodi beatae deleniti voluptate dolore mollitia fugiat magnam aliquid nesciunt.
        </div>
    </div>
</div>

@@include('./blocks/footer.html')