@@include('./blocks/header.html')

<!-- promo start -->
<div class="promo promo--show">
    <div class="promo__img" style="background-image: url(img/vacancies.png)"></div>
    <div class="promo__inner">
        <div class="row">
            <svg class="svg svg--wave">
                <use xlink:href="#wave"></use>
            </svg> 
            <div class="promo__title color-secondary">Вакансии</div>
            <p class="color-black">Текст про вакансии и стажировки.</p>
        </div>
    </div>
    <div class="promo__footer"></div>
</div>
<!-- promo end -->

<!-- block start -->
<div class="block">
    <div class="row grid">
        <div class="col-4_md-12">
            <h3>Вакансии</h3>
            <div class="cards cards--vacancies">
                <div class="cards__item">
                    <div class="title">Графический дизайнер</div>
                    <p>Краткое описание вакансии, чо как, что делать. Резьме там, портфолио Арт-директор:
                        <a href="mailto:info@craftgroup.com">info@craftgroup.com</a>
                    </p>
                </div>
                <div class="cards__item">
                    <div class="title">Архитектор</div>
                    <p>Краткое описание вакансии, чо как, что делать. Резьме там, портфолио Арт-директор:
                        <a href="mailto:info@craftgroup.com">info@craftgroup.com</a>
                    </p>
                </div>
                <div class="cards__item">
                    <div class="title">Офис-менеджер</div>
                    <p>Краткое описание вакансии, чо как, что делать. Резьме там, портфолио Арт-директор:
                        <a href="mailto:info@craftgroup.com">info@craftgroup.com</a>
                    </p>
                </div>
            </div>
        </div>
        <div class="col-4_md-12" data-push-left="off-4_md-0">
            <h3>Стажировки</h3>
            <div class="cards cards--vacancies">
                <div class="cards__item">
                    <div class="title">Графический дизайнер</div>
                    <p>Краткое описание вакансии, чо как, что делать. Резьме там, портфолио Арт-директор:
                        <a href="mailto:info@craftgroup.com">info@craftgroup.com</a>
                    </p>
                </div>
                <div class="cards__item">
                    <div class="title">Архитектор</div>
                    <p>Краткое описание вакансии, чо как, что делать. Резьме там, портфолио Арт-директор:
                        <a href="mailto:info@craftgroup.com">info@craftgroup.com</a>
                    </p>
                </div>
                <div class="cards__item">
                    <div class="title">Офис-менеджер</div>
                    <p>Краткое описание вакансии, чо как, что делать. Резьме там, портфолио Арт-директор:
                        <a href="mailto:info@craftgroup.com">info@craftgroup.com</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- block end -->

@@include('./blocks/footer.html')