/**

	TODO:
	- variables.scss

 */

$color--black: #000;
$color--white: #fff;
$color__primary: #e31e63;
$color__secondary: #294899;
$color__third: lighten($color--black, 35%);
$color__fourth: lighten($color--black, 85%);