.btn {
	font-weight: 300;
	text-decoration: none;
	color: lighten($color__third, 40%);
	padding: 15px 30px;
	display: inline-block;
	transition: all 0.2s ease;
	box-sizing: border-box;
	cursor: pointer;
	line-height: 20px;
	text-align: center;
	@include media(xs){
		width: 100%;
	}
	&--default {
		border: 1px solid lighten($color__third, 40%);
		background-color: transparent;
		&:hover {
			background: lighten($color__third, 40%);
			border-color: $color--white;
			color: $color--white;
			text-decoration: none;
		}
	}
}
