.burger {
	position: relative;
	z-index: 2;
	transition: all 0.2s ease;
	cursor: pointer;
	&:hover {
		transform: scale(1.1);
	}
	&__btn {
		width: 32px;
		height: 45px;
		position: relative;
		transform: rotate(0deg);
		transition: 0.5s ease-in-out;
	}
	&__title {
		font-size: 12px;
		margin-bottom: 3px;
		transition: all 0.2s ease;
	}
	span {
		display: block;
		position: absolute;
		height: 2px;
		width: 100%;
		background: $color--black;
		border-radius: 9px;
		opacity: 1;
		left: 0;
		transform: rotate(0deg);
		transition: 0.25s ease-in-out;
		&:nth-child(1) {
			top: 0px;
		}
		&:nth-child(2) {
			top: 7px;
		}
		&:nth-child(3) {
			top: 14px;
		}
	}
	&--open {
		.burger__title {
			opacity: 0;
		}
		span:nth-child(1) {
			top: 5px;
			transform: rotate(135deg);
		}
		span:nth-child(2) {
			opacity: 0;
			left: -10px;
		}
		span:nth-child(3) {
			top: 5px;
			transform: rotate(-135deg);
		}
	}
}
