.cards{
    &--team{
        .cards__item{
            height: auto;
        }
        .cards__top{
            overflow: hidden;
            height: 400px;
            padding: 20px;
            box-sizing: border-box;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
        }
        .cards__bottom{
            padding: 10px 0;
            p{
                color: $color__third;
            }
        }
        .cards__inner{
            padding: 0px;
        }
        .cards__desc,
        p{
            color: $color--black;
        }
        .cards__desc{
            margin-bottom: 10px;
        }
    }
    &--projects{
        .cards__inner{
            &::before{
                width: 100%;
                height: 100%;
                position: absolute;
                display: block;
                content: '';
                top: 0;
                left: 0;
                z-index: 2;
                background: linear-gradient(to bottom, transparent 0%,rgba(#000000, .6) 100%);
            }
        }
    }
    &--vacancies{
        .cards__item{
            height: auto;
            margin-bottom: 30px;
        }
    }
    &__top{
        position: relative;
    }
    &__inner{
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        padding: 40px;
        box-sizing: border-box;
        position: relative;
    }
    &__item{
        text-decoration: none;
        height: 300px;
        position: relative;
        overflow: hidden;
        &:hover{
            text-decoration: none;
            .cards__img{
                transform: scale(1.1);
                transform-origin: center;
            }
        }
    }
    &__img{
        top: 0;
        left: 0;
        position: absolute;
        width: 100%;
        height: 100%;
        background-size: cover;
        background-position: center;
        z-index: 1;
        filter: brightness(.8);
        transition: all .2s ease;        
    }
    &__body{
        z-index: 3;
        position: relative;
        height: min-content;
        max-width: 100%;
        box-sizing: border-box;
    }
    &__desc{
        font-family: 'Cochin';
        font-style: italic;
        color: $color--white;
        font-size: 30px;
        font-weight: 600;
        line-height: 40px;
    }
    &__title{
        font-weight: 500;
        font-size: 36px;
        color: $color--white;
        line-height: 40px;
    }
    .title{
        margin-bottom: 20px;
    }
}