.demomenu {
	top: 0;
	color: #fff;
	right: -195px;
	transition: all 0.3s;
	width: 200px;
	height: 100%;
	z-index: 99999999999;
	position: fixed;
	background: #2d1434;
	background: #ecefe7;
	color: black;
	font-size: 20px;
	padding: 30px;
	box-sizing: border-box;
	border-left: 1px solid #ccc;
	font-family: Arial;
	opacity: 0.3;
	&:hover {
		right: 0;
		opacity: 1;
	}
	ul {
		margin-bottom: 30px;
	}
	h3 {
		font-family: 'pt sans';
		border-bottom: 1px solid lighten(#ccc, 9%);
		padding: 7px;
		font-size: 20px;
		color: #666;
		background: #e0e5d8;
	}
	&__inner {
		box-sizing: border-box;
		width: 100%;
		height: 100%;
		padding: 20px;
		overflow: auto;
		position: relative;
	}
	li {
		margin-top: 5px;
		margin-bottom: 10px;
		a {
			font-size: 16px;
			color: #555;
		}
	}
	&__menu {
		list-style: none;
		padding: 0;
		margin: 0;
		list-style-position: inside;
		margin-top: 20px;
	}
}

::-webkit-scrollbar {
	width: 12px;
}
::-webkit-scrollbar-track {
	background-color: #eaeaea;
	border-left: 1px solid #ccc;
}
::-webkit-scrollbar-thumb {
	background-color: #ccc;
}
::-webkit-scrollbar-thumb:hover {
	background-color: #aaa;
}
