.footer{
    padding-top: 40px;
    padding-bottom: 110px;
    background-color: $color__primary;
    flex: 0 0 auto;
    position: relative;
    z-index: 4;
    @include media(md){
        padding-bottom: 40px;
    }
    &__inner{
        display: flex;
        justify-content: space-between;
        align-items: center;
        @include media(md){
            flex-direction: column;
        }
    }
    &__data{
        display: flex;
        flex-direction: column;
        font-size: 18px;
        & > *{
            color: $color--white;
            text-decoration: none;
            margin-bottom: 5px;
        }
    }
    &__logo{
        @include media(md){
            margin-bottom: 30px;
        }
    }
    svg{
        stroke: $color--black;
        width: 85px;
        height: 35px;
    }
}