.header{
    display: block;
    position: fixed;
    width: 100%;
    height: 80px;
    display: flex;
    background-color: $color--white;
    z-index: 11;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 80px;
    box-sizing: border-box;
    @include media(md){
        padding: 0 15px;
    }
    &__logo{
        height: 30px;
        position: relative;
        width: 98px;
        svg{
            width: 100%;
            position: absolute;
            height: 50px;
            @include media(md){
                height: 50px;
            }
        }
    }
    &__right{
        display: flex;
    }
    &__contacts{
        flex-direction: column;
        display: flex;
        text-align: right;
        @include media(sm){
            display: none;
        }
        a{
            color: #3f3f3e;
            font-size: 15px;
            font-weight: 500;
            text-decoration: none;
            letter-spacing: 0.44px;
        }
    }
    &__burger{
        margin-left: 50px;
        display: none;
        @include media(md){
            display: block;
        }
        .burger__btn{
            height: 18px;
        }
    }
}
