.info {
	background-position: center;
	background-size: cover;
	position: relative;
	&__shadow{
		background: linear-gradient(to bottom, rgba(#000000, .4) 0%,rgba(#000000, .4) 100%);
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
	}
	&__title {
		font-size: 108px;
		font-weight: 600;
		color: $color__secondary;
		@include media(md) {
			font-size: 30px;
		}
	}
	&__text {
		font-size: 15px;
		line-height: 20px;
	}
	&--branding {
		.info__title {
			margin-bottom: 40px;
		}
		.info__text {
			padding-left: 70px;
			margin-bottom: 70px;
			@include media(md) {
				padding-left: 0;
				margin-bottom: 30px;
			}
		}
		.title {
			padding-left: 70px;
			margin-bottom: 60px;
			@include media(md) {
				padding-left: 0;
			}
		}
		.info__hover {
			background-color: $color__third;
		}
	}
	&--marketing {
		margin-top: 80px;
		padding-top: 150px;
		@include media(md){
			margin-top: 15px;
			padding-top: 15px;
		}
		.info__bg {
			position: absolute;
			top: 0;
			width: 100%;
			height: 260px;
			background-position: center;
			background-size: cover;
			@include media(md){
				position: relative;
				margin-bottom: 30px;
			}
		}
		.info__text {
			margin-top: 180px;
			@include media(md) {
				margin-top: 20px;
			}
		}
		.info__title {
			margin-bottom: 10px;
		}
		.info__desc{
			margin-bottom: 150px;
			@include media(md){
				margin-bottom: 20px;
			}
		}
	}
	&--architecture {
		margin-bottom: 80px;
		padding-bottom: 50px;
		@include media(md){
			margin-bottom: 15px;
			padding: 15px;
		}
		.info__inner {
			margin-left: -30px;
			@include media(md){
				margin-left: 0;
			}
		}
		.info__wave {
			stroke: $color__primary;
		}
		.title {
			margin-bottom: 20px;
		}
		.info__title {
			color: $color--white;
			margin-bottom: 30px;
		}
		.info__desc{
			color: $color__primary;
			margin-bottom: 5px;
		}
		.info__text {
			color: $color--white;
			@include media(md){
				margin-bottom: 30px;
			}
		}
	}
}
