html,
body {
	height: 100%;
	width: 100%;
}
body {
	overflow-x: hidden;
	font-family: 'TTNorms';
	font-style: normal;
	&.opened-popup{
		overflow: hidden;
		& > :not(.modal){
			filter: blur(5px);
			@include media(md){
				filter: none;
			}
		}
	}
}
.no-bottom{
	margin-bottom: 0!important;
}
.opened{
	opacity: 1!important;
	visibility: visible!important;
	transition: all .2s ease;
	display: block!important;
}
.hover{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	filter: blur(10px);
	z-index: 3;
	display: none;
	cursor: pointer;
	&--main{
		z-index: 14;
	}
	&.z-active{
		z-index: 12;
	}
}
.overflow{
	&-hidden{
		overflow: hidden;
		padding-right: 80px;
	}
	&-scroll{
		overflow: scroll;
	}
}
p{
	font-size: 15px;
	line-height: 20px;
	margin-bottom: 20px;
}
.color{
	&-primary{
		color: $color__primary!important;
	}
	&-secondary{
		color: $color__secondary!important;
	}
	&-third{
		color: $color__third!important;
	}
	&-fourth{
		color: $color__fourth!important;
	}
	&-white{
		color: $color--white!important;
	}
	&-black{
		color: $color--black!important;
	}
}
.bg{
	&-primary{
		background-color: $color__primary!important;
	}
	&-secondary{
		background-color: $color__secondary!important;
	}
	&-third{
		background-color: $color__third!important;
	}
	&-fourth{
		background-color: $color__fourth!important;
	}
}
.row {
	max-width: r(1300);
	margin: 0 auto;
	position: relative;
	box-sizing: border-box;
	width: 100%;
	padding: 0 15px;
	@include media(md) {
		padding: 0 r(30);
	}
	@include media(sm){
		padding: 0 15px;
	}
	img {
		max-width: 100%;
	}
}
.hidden {
	display: none;
}
.wrapper {
	padding: 0 80px;
	box-sizing: border-box;
	// display: flex;
	// flex-direction: column;
	// height: 100%;
	&__inner{
		flex: 1 0 auto;
		padding-bottom: 80px;
		padding-top: 40px;
		@include media(md){
			padding-bottom: 15px;
		}
	}
	.row{
		@include media(md){
			padding: 0;
		}
	}
	@include media(md) {
		padding: 0px;
	}
}
.title {
	font-family: 'Cochin';
	font-weight: 600;
	font-style: italic;
	color: $color__primary;
	font-size: 36px;
	margin-bottom: 70px;
	line-height: 40px;
	&--small{
		font-size: 30px;
	}
	@include media(md){
		margin-bottom: 15px;
	}
}
.block {
	margin: 80px 0;
	position: relative;
	@include media(md) {
		padding: 15px 0;
		margin: 15px 0;
	}
}
.flex {
	display: flex !important;
	&-left {
		justify-content: flex-start;
	}
	&-center {
		justify-content: center;
	}
	&-right {
		justify-content: flex-end;
	}
	&-around {
		justify-content: space-around;
	}
	&-between {
		justify-content: space-between;
	}
	&-top {
		align-items: flex-start;
	}
	&-middle {
		align-items: center;
	}
	&-bottom {
		align-items: flex-end;
	}
	&-column {
		flex-direction: column;
	}
	&-row {
		flex-direction: row;
	}
	&-1 {
		flex: 1;
	}
}
.text {
	&-left {
		text-align: left;
	}
	&-center {
		text-align: center;
	}
	&-right {
		text-align: right;
	}
}
a,
.link {
	text-decoration: none;
	color: $color__primary;
	transition: all 0.2s ease;
	&:hover {
		text-decoration: underline;
	}
}
h1, .h1{
	font-size: 108px;
	color: $color__primary;
	font-weight: 600;
	margin-bottom: 30px;
	@include media(lg){
		font-size: 80px;
	}
	@include media(md){
		font-size: 40px;
	}
}
h2, .h2{

}
h3, .h3{
	font-size: 30px;
	margin-bottom: 40px;
	font-weight: 600;
	line-height: 40px;
}
.animated {
	animation-duration: 1s;
	animation-fill-mode: both;
}
.fadeInLeft {
	animation-name: fadeInLeft;
	@-webkit-keyframes fadeInLeft {
		from {
			opacity: 0;
			transform: translate3d(-100%, 0, 0);
		}
		to {
			opacity: 1;
			transform: translate3d(0, 0, 0);
		}
	}
	@keyframes fadeInLeft {
		from {
			opacity: 0;
			transform: translate3d(-100%, 0, 0);
		}
		to {
			opacity: 1;
			transform: translate3d(0, 0, 0);
		}
	}
}