.left{
    background-color: $color--white;
    &--open{
        .left__hover,
        .left__footer{
            opacity: 1;
            pointer-events: all;
        }
        .left__panel{
            z-index: 11;
            background-color: transparent;
            transition: background .2s ease;
            transition-delay: 1.2s;
        }
    }
    &__menu{
        border: none;
    }
    &__panel{
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: $color--white;
        width: 80px;
        position: fixed;
        left: 0;
        top: 0;
        height: 100vh;
        z-index: 4;
        transition: none;
        
        @include media(md){
            display: none;
        }
    }
    &__hover{
        top: 0;
        width: 100%;
        height: calc(100% - 80px);
        background-color: rgba($color__primary, .8);
        cursor: pointer;
        z-index: 5;
    }
    &__footer{
        bottom: 0;
        width: 100%;
        height: 80px;
        background-color: $color--white;
        z-index: 11;
    }
    &__hover,
    &__footer{
        opacity: 0;
        transition: all 500ms cubic-bezier(1, 0, 0, 1) 0ms;
        left: 0;
        pointer-events: none;
        position: fixed;
    }
}