.menu{
    position: fixed;
    left: -75%;
    transition: left 500ms cubic-bezier(1, 0, 0, 1) 0ms;
    height: 100vh;
    background-color: $color--white;
    min-width: 75%;
    justify-content: space-around;
    box-sizing: border-box;
    padding: 80px;
    display: flex;
    flex-direction: column;
    line-height: 24px;
    z-index: 10;
    @include media(md){
        width: 100%;
        padding: 30px;
        min-width: 100%;
        padding-top: 90px;
        left: -100%;
    }
    &--open{
        left: 0;
        z-index: 10;
    }
    &__text{
        font-size: 18px;
        opacity: 0;
        a{
            color: $color--black;
        }
    }
    &__item{
        opacity: 0;
        a{
            text-decoration: none;
            font-weight: 600;
            font-size: 31px;
            color: $color--black;
            transition: all .2s ease;
            margin-bottom: 20px;
            display: inline-block;
            position: relative;
            &::before{
                display: block;
                content: '';
                background-color: $color__primary;
                height: 69%;
                top: 3px;
                width: calc(100% + 14px);
                margin-left: -7px;
                z-index: -1;
                position: absolute;
                opacity: 0;
                transition: all .2s ease;
            }
            &:hover{
                &::before{
                    opacity: 1;
                }
            }
            &:active{
                &::before{
                    background-color: lighten($color__secondary, 30%);
                }
            }
        }
    }
    .title{
        opacity: 0;
    }
}