.modal{
	visibility: hidden;
	opacity: 0;
	position: fixed;
	z-index: 15;
	transition: all .2s ease;
	overflow: auto;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	padding: r(30);
    box-sizing: border-box;
    pointer-events: none;
    @include media(md){
        padding: 0;
    }
    .title{
        margin-bottom: 0;
    }
    &--team{
        .modal__img{
            height: 525px;
            @include media(md){
                height: 300px;
            }
        }
        .title{
            font-size: 30px;
            @include media(md){
                font-size: 25px;
                text-align: left;
            }
        }
        .svg.svg--wave{
            @include media(md){
                display: none;
            }
        }
        .modal__body{
            .svg.svg--wave{
                position: absolute;
                bottom: -30px;
                right: 40px;
                stroke: $color__fourth;
                fill: $color__fourth;
                width: 250px;
            }
        }
        .modal__footer{
            margin-top: 80px;
            @include media(md){
                margin-top: 0;
            }
            .svg.svg--wave{
                position: absolute;
                top: -20px;
                left: 10px;
                stroke: $color__fourth;
                fill: $color__fourth;
            }
        }
    }
	&--success{
		.modal__wrapper{
			width: r(500);
			@include media(xs){
				width: 100%;
			}
		}
		.modal__body{
			padding: r(80);
			@include media(xs){
				padding: r(30);
			}
			svg{
				position: absolute;
				@include media(xs){
					display: none;
				}
				&:first-of-type{
					stroke: lighten($color__primary, 15%);
					width: r(40);
					height: r(30);
					transform: rotate(20deg);
					left: r(110);
					top: r(35);
				}
				&:last-of-type{
					fill: lighten($color__primary, 15%);
					height: r(246);
					width: r(201);
					transform: rotate(137deg);
					left: -42px;
					bottom: -29px;
				}
			}
		}
	}
	&__wrapper{
		width: r(945);
		margin: auto;
		height: 100%;
		display: flex;
		align-items: center;
		min-height: fit-content;
		@include media(md){
			width: 100%;
		}
	}
	&__header{
		background: $color--white;
        box-sizing: border-box;
        padding-top: 20px;
        margin-bottom: 50px;
        @include media(md){
            margin-bottom: 10px;
        }
	}
	&__title{
		font-size: 36px;
		font-weight: 600;
		color: $color__primary;
		@include media(md){
            font-size: r(30);
            margin-bottom: 20px;
		}
	}
	&__desc{
		font-size: r(16);
		line-height: r(24);
	}
	&__inner{
        box-shadow: 0 0 3px 1px rgba($color--black, .2);
        background-color: $color--white;
        width: 100%;
        padding: 25px;
        box-sizing: border-box;
        position: relative;
        pointer-events: all;
        @include media(md){
            padding-top: 60px;
        }
    }
    &__footer{
        position: relative;
    }
	&__body{
        position: relative;
        color: $color__third;
	}
	&__close{
        position: absolute;
        right: 15px;
        top: 15px;
        width: 30px;
        height: 30px;
        cursor: pointer;
        transform: rotate(45deg);
        @include media(md){
            right: 20px;
        }
        &::before,
        &::after{
            content: '';
            display: block;
            position: absolute;
            width: 100%;
            height: 2px;
            background-color: $color--black;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
        
        &::after{
            transform: translate(-50%, -50%) rotate(90deg);
        }
    }
    &__img{
        height: 100%;
        width: 100%;
        background-size: cover;
        background-position: center;
    }
	.btn{
		font-size: r(18);
		font-weight: bold;
	}
}