.promo{
    margin-top: -40px;
    padding-top: 150px;
    min-height: calc(100vh);
    box-sizing: border-box;
    position: relative;
    transform: scale(1.1);
    transition: all .5s ease-in-out;
    opacity: 0;
    padding-left: 30px;
    padding-right: 30px;
    position: relative;
    overflow: hidden;
    padding-bottom: 150px;
    &--main{
        background-color: $color__primary;
    }
    &--blur{
        .promo__img{
            filter: blur(3px) brightness(.4);
        }
    }
    @include media(md){
        box-sizing: border-box;
        padding-top: 0;
        display: flex;
        align-items: center;
        padding-bottom: 30px;
        margin-bottom: 30px;
    }
    &--show{
        opacity: 1;
        transform: none;
    }
    &__inner{
        position: absolute;
        height: 100%;
        min-height: min-content;
        width: 100%;
        top: 0;
        left: 0;
        padding-top: 130px;
        padding-bottom: 100px;
        box-sizing: border-box;
        @include media(md){
            padding-bottom: 0;
            position: static;
        }
        .title{
            margin-bottom: 0;
        }
        .row{
            height: 100%;
        }
        .grid{
            flex: 1;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
        }
        .col{
            flex: 1;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
        }
    }
    &__img{
        position: absolute;
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        background-position: center;
        background-size: cover;
    }
    &__title{
        font-weight: 600;
        color: $color--white;
        font-size: 125px;
        margin-bottom: 20px;
        @include media(md){
            font-size: 50px;
            line-height: 70px;
            text-align: center;
        }
    }
    &__footer{
        background-color: $color--white;
        height: 80px;
        width: 100%;
        position: absolute;
        bottom: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        left: 0;
        @include media(md){
            border-top: 15px solid $color--white;
            height: 15px;
            display: none;
        }
        img{
            animation: 1s bubble infinite;
            @include media(md){
                display: none;
            }
            @keyframes bubble {
                0% {
                    margin-top: -15px;
                }
                50% {
                    margin-top: 10px;
                }
                100% {
                    margin-top: -15px;
                }
            }
        }
    }
    p{
        @include media(md){
            text-align: center;
        }
    }
}