.slider {
	position: relative;
	&--main {
		display: flex;
		justify-content: center;
		background-position: center;
		background-size: cover;
		background-repeat: no-repeat;
		min-height: min-content;
		.slider__owl {
			height: calc(100vh - 160px);
			box-sizing: border-box;
			display: flex;
			justify-content: center;
			@include media(md){
				height: 200px;
			}
		}
		.owl-item {
			display: flex;
			justify-content: center;
			align-items: center;
			height: 100%;
		}
		.slider__item {
			width: 100%;
			height: 100%;
			background-position: center;
			transition: all 0.2s ease;
			&:hover {
				filter: brightness(1.3);
			}
		}
		.owl-stage-outer,
		.owl-stage{
			height: 100%!important;
		}
		.owl-dots {
			position: absolute;
			bottom: 0;
			width: 100%;
			justify-content: center;
			display: flex;
			padding: 20px;
			box-sizing: border-box;
			.owl-dot {
				margin: r(5);
				height: r(8);
				border-radius: 50%;
				width: r(8);
				background-color: $color--white;
				&.active {
					background-color: $color__primary;
				}
			}
		}
		.owl-nav {
			position: absolute;
			width: 100%;
			height: 100%;
			display: flex;
			justify-content: space-between;
			top: 0;
			pointer-events: none;
			.owl-prev,
			.owl-next {
				pointer-events: all;
				width: 100px;
				outline: none;
				transition: all 0.2s ease;
				background-image: linear-gradient(
					to right,
					rgba($color--black, 0) 0%,
					rgba($color--black, 0.6) 100%
				) !important;
				@include media(xs){
					width: 30px;
				}
				&:hover {
					width: 120px;
					@include media(xs){
						width: 30px;
					}
				}
			}
			.owl-prev {
				transform: rotate(180deg);
			}
		}
	}
	&__item {
		background-size: cover;
		background-position: center;
	}
	&__nav {
		width: r(40);
		height: r(40);
		box-shadow: 0 0 r(8) rgba(0, 0, 0, 0.2);
		background-color: $color--white;
		position: absolute;
		border-radius: 50%;
		display: flex;
		align-items: center;
		box-sizing: border-box;
		justify-content: center;
		transition: prop time;
		pointer-events: all;
		&:hover {
			opacity: 1;
			// background: $color--gray--lighten;
		}
		& > svg {
			height: r(16);
			width: r(16);
			fill: $color--white;
		}
		&--prev {
			top: 50%;
			transform: translateY(-50%) rotate(180deg);
			svg {
				margin-right: r(5);
			}
		}
		&--next {
			right: r(-40);
			top: 50%;
			transform: translateY(-50%);
			svg {
				margin-right: r(-5);
			}
		}
	}
	.owl-stage-outer {
		// padding-top: r(50);
		position: relative;
		@include media(md){
			padding-top: 0;
		}
		&::after {
			top: 0;
			content: '';
			display: block;
			position: absolute;
			right: 0;
			width: calc(100% - 110px);
			// border-top: r(1) solid $color--gray--dark;
			height: r(1);
		}
	}
}
