.socials {
	position: fixed;
	right: 0;
	height: 100vh;
	width: 80px;
	background-color: $color--white;
	top: 0;
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;
	z-index: 6;
	@include media(md) {
		display: none;
	}
	a {
		width: 17px;
		height: 17px;
		background-repeat: no-repeat;
		background-position: center;
		margin: 5px 0;
		transition: all 0.2s ease;
		&:hover {
			transform: scale(1.1);
		}
	}
}
