.svg{
	&--wave{
		width: 85px;
		height: 35px;
		stroke: $color--black;
	}
	&--wave-comp1{
		stroke: $color__fourth;
		fill: $color__fourth;
		width: 290px;
		margin-left: -30px;
		height: 100px;
	}
	&--wave-comp2{
		width: 190px;
		fill: $color__fourth;
		stroke: $color__fourth;
		margin-right: 50px;
		height: 40px;
	}
	&--wave-comp1,
	&--wave-comp2 {
		@include media(md){
			width: 100%;;
			height: auto;
			margin-bottom: 10px;
			margin-left: 0;
			margin-right: 0;
		}
	}
}