<!-- info architecture start -->
<div class="block info info--architecture js-animation-scrolling" data-offset="100" style="background-image: url(img/info-bg-arch.png)">
    <div class="info__shadow"></div>
    <div class="row js-animation-scrolling" data-offset="100">
        <div class="grid">
            <div class="col-10_md-12" data-push-left="off-2_md-0">
                <div class="info__inner">
                    <svg class="info__wave svg svg--wave">
                        <use xlink:href="#wave"></use>
                    </svg>
                    <div class="info__title">
                        Архитектура
                    </div>
                    <div class="title">
                        Создайте лучшее, способное стать историей
                    </div>
                </div>
            </div>
        </div>
        <div class="grid">
            <div class="col-5_md-12" data-push-left="off-2_md-0">
                <div class="info__inner">
                    <div class="info__text">
                        Нет таких высот, которых нельзя достигнуть, и нет ничего, что не могло бы стать искусством. Красивый офис или арт-объект,
                        общественные пространства, корпоративные интерьеры – при работе над каждым проектом CRAFT group привлекает к сотрудничеству
                        лучших специалистов из разных областей. Мы используем современные технологии, позволяющие оптимизировать процессы проектирования,
                        предлагаем полный комплекс услуг: от идеи проекта, архитектурных концепций, до воплощения задуманного.
                    </div>
                </div>
            </div>
        </div>
        <div class="row grid-3_md-1-right">
            <div class="col">
                <div class="btn btn--default">Посмотреть портфолио</div>
            </div>
        </div>
    </div>
</div>
<!-- info architecture end -->