<!-- info branding start -->
<div class="block info info--branding">
    <div class="row grid-equalHeight">
        <div class="col-7_md-12 js-animation-scrolling" data-offset="200">
            <div class="info__inner">
                <svg class="svg svg--wave">
                    <use xlink:href="#wave"></use>
                </svg>
                <div class="info__title">Брендинг</div>
                <div class="info__text">
                    Бренд – самый сильный инструмент маркетинга, именно он, наполненный эмоциями, чувствами и мнениями, поведет вас вперед. CRAFT
                    group знает, из чего, как, и с помощью каких инструментов создать бренд, необходимый вашим потенциальным
                    потребителям. Мы разработаем оптимальную стратегию, учитывающую специфику деятельности и требования рынка,
                    чтобы повысить ваши продажи и конкурентные свойства продукта, определим рынки сбыта, поможем в продвижении
                    и развитии бренда. Изучим рынок, и сделаем несколько предложений, на основе которых вы выберете самый
                    подходящий образ будущего бренда.
                </div>
                <div class="title">
                    Станьте первым в сознании потребителя
                </div>
                <a href="" class="btn btn--default">Посмотреть портфолио</a>
            </div>
        </div>
        <div class="col-4_dm-12 js-animation-scrolling" data-offset="100" data-push-left="off-1_md-0">
            <div class="info__hover"></div>
        </div>
    </div>
</div>
<!-- info branding end -->