<!-- footer start -->
<footer class="footer">
    <div class="row">
        <div class="footer__inner">
            <div class="footer__logo logo">
                <svg>
                    <use xlink:href="#wave"></use>
                </svg>
                <span class="logo__name">КРАФТ.</span>
                <span class="logo__desc">Сделано. С любовью.</span>
            </div>
            <div class="footer__data">
                <span>Тюмень, Герцена 55</span>
                <a href="tel:+73452623204">+7 3452 62-32-04</a>
                <a href="mailto:info@craftgroup.pro">info@craftgroup.pro</a>
            </div>
        </div>
    </div>
</footer>
<!-- footer end -->