<!-- header start -->
<header class="header">
    <a href="#" class="header__logo">
        <svg>
            <use xlink:href="#logo"></use>
        </svg>
    </a>

    <div class="header__right">
        <div class="header__contacts">
            <a href="tel:+73452000000">+7 3452 62-32-04</a>
            <a href="mailto:info@craftgroup.pro">info@craftgroup.pro</a>
        </div>
        <div class="header__burger burger js-burger">
            <div class="burger__title">Menu</div>
            <div class="burger__btn">
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>
    </div>
</header>
<!-- header end -->