<!-- menu start -->
<div class="left">
    <div class="left__panel">
        <div class="left__burger burger js-burger">
            <div class="burger__title">Menu</div>
            <div class="burger__btn">
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>
    </div>

    <div class="left__menu menu js-menu">
        <ul class="menu__items">
            <li class="menu__item js-animation">
                <a href="/index.html">Главная</a>
            </li>
            <li class="menu__item js-animation">
                <a href="/company.html">Компания</a>
            </li>
            <li class="menu__item js-animation">
                <a href="/portfolio.html">Портфолио</a>
            </li>
            <li class="menu__item js-animation">
                <a href="/team.html">Команда</a>
            </li>
            <li class="menu__item js-animation">
                <a href="/vacancies.html">Вакансии</a>
            </li>
        </ul>
        <div class="menu__text js-animation">
            <span>Тюмень, Герцена 55</span><br>
            <a href="tel:+73452623521"> +7(3452)62-35-21</a><br>
            <a href="tel:+73452623204"> +7(3452)62-32-04</a><br>
            <a href="mailti:info@craftgroup.pro">info@craftgroup.pro</a>
        </div>
        <div class="title js-animation">Сделано. С любовью.</div>
    </div>

    <div class="left__hover js-left-hover"></div>
    <div class="left__footer"></div>
</div>
<!-- menu end -->