<!-- info marketing start -->
<div class="block info info--marketing js-animation-scrolling" data-offset="100">
    <div class="info__bg" style="background-image: url(img/info-bg.png)"></div>
    <div class="row grid-equalHeight">
        <div class="col-4_md-12 js-animation-scrolling" data-offset="100" data-push-left="off-1_md-0">
            <div class="info__inner">
                <svg class="svg svg--wave">
                    <use xlink:href="#wave"></use>
                </svg>
                <div class="info__title">
                    Марке-
                    <br>тинг
                </div>
                <div class="title">
                    Найдите новые способы для взаимодействия с клиентом
                </div>
            </div>
        </div>
        <div class="col-5_md-12 js-animation-scrolling" data-offset="200" data-push-left="off-1_md-0">
            <div class="info__text">
                CRAFT group – это тот самый случай, когда маркетинг вас приятно удивит. В нашей компании работают классные специалисты, добросовестные
                и талантливые, создающие действительно – крутые и полезные вещи. Важно, что мы поможем вам сэкономить бюджет,
                и гарантированно вернуть потраченные средства, потому что мы занимаемся маркетингом честно, и честно заявляем:
                для того, чтобы создать лучшую рекламу, не нужны огромные бюджеты. Нужен CRAFT.
            </div>
        </div>
    </div>
</div>
<!-- info marketing end -->