<div class="modal js-modal modal--team" id="modal-team">
    <div class="modal__wrapper">
        <div class="modal__inner">
            <div class="modal__close js-modal-close"></div>
            <div class="grid-noBottom">
                <div class="col-5_md-12">
                    <div class="modal__img" style="background-image: url(img/modal-girl.png);"></div>
                </div>
                <div class="col-7_md-12">
                    <div class="modal__header">
                        <div class="grid-bottom-spaceBetween_md-noBottom">
                            <div class="col-5_md-12">
                                <div class="modal__title">Татьяна Иванова</div>
                            </div>
                            <div class="col-7_md-12">
                                <div class="title color-black text-center">Аккаунт-менеджер</div>
                            </div>
                        </div>
                    </div>
                    <div class="modal__body grid">
                        <div class="col-11_md-12">
                            <p>Люблю играть на гитаре, бла-бла-бла очень интересный рассказ о себе, любимых фильмах там или еще чем. Люблю играть на гитаре,
                            бла-бла-бла очень интересный рассказ о себе, любимых фильмах там или еще чем. Люблю играть на гитаре, бла-бла-бла очень интересный
                            рассказ о себе, любимых фильмах там или еще чем. Люблю играть на гитаре, бла-бла-бла очень интересный рассказ о себе, любимых
                            фильмах там или еще чем.</p>
                            <svg class="svg svg--wave">
                                <use xlink:href="#wave"></use>
                            </svg>
                        </div>
                    </div>
                    <div class="modal__footer grid">
                        <div class="col-8_md-12" data-push-left="off-2_md-0">
                            <svg class="svg svg--wave">
                                <use xlink:href="#wave"></use>
                            </svg>
                            <div class="title color-secondary">+ 7 999 888 77 66 <br> tatyana@craftgroup.com</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="hover hover--main js-hover"></div>