<!-- partners start -->
<div class="block js-animation-scrolling" data-offset="200">
    <div class="row grid">
        <div class="col">
            <div class="title">Наши партнеры</div>
            <div class="text-center">
                <img alt="Партнеры" src="img/partners.jpg" alt="">
            </div>
        </div>
    </div>
</div>
<!-- partners end -->