<!-- promo start -->
<div class="promo promo--main js-promo">
    <div class="row">
        <div class="promo__title">Привет. <br>Это Крафт.</div>
    </div>
    <div class="promo__footer">
        <img alt="Мышь" src="img/mouse.png" alt="">
    </div>
</div>
<!-- promo end -->