<!-- slider start -->
<div class="slider slider--main js-animation-scrolling" data-offset="200">
    <div class="owl-carousel slider__owl js-slider" 
        data-items="1" 
        data-nav="true" 
        data-dots="true" 
        data-loop="true" 
        data-prev="<img alt='Влево' src='img/arrow.png'/>"
        data-next="<img alt='Вправо' src='img/arrow.png'/>"
        data-responsive="{0: { items: 1 }, 768: { items: 1 }}"
    >
        <a href="#" class="slider__item" style="background-image: url(img/slider-img.png)"></a>
        <a href="#" class="slider__item" style="background-image: url(img/slider-img.png)"></a>
        <a href="#" class="slider__item" style="background-image: url(img/slider-img.png)"></a>
    </div>
</div>
<!-- slider end -->