<!-- socials start -->
<div class="socials">
    <a href="https://vk.com/craftgroup72" class="socials__link" style="background-image: url(img/vk.png)"></a>
    <a href="https://www.facebook.com/Crafttyumen72/?ref=py_c" class="socials__link" style="background-image: url(img/fb.png)"></a>
    <a href="" class="socials__link" style="background-image: url(img/insta.png)"></a>
</div>
<!-- socials end -->